body {
    font-family: "vista-sans", sans-serif;
    background-color: #357EC7;
    margin: 0;
    padding: 20px;
}

.desktop-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    width: fit-content;
}

.icon {
    width: 80px;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.icon p {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.icon-description {
    font-size: 14px;
    color: white;
    margin: 0;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    max-width: 80px;
    line-height: 1.2;
}

.Title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Title h1 {
    color: orange;
    font-size: 92px;
    margin: 0;
    text-align: center;
}

.Title h2 {
    color: white;
    font-size: 54px;
    margin: 0;
    text-align: center;
    font-weight: normal;
}