.desktop-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.Title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Title h1 {
    color: orange;
    font-size: 92px;
    margin: 0;
    text-align: center;
}

.Title h2 {
    color: white;
    font-size: 54px;
    margin: 0;
    text-align: center;
    font-weight: normal;
}