/* ===================================
   VISTA SANS - GLOBAL NAVIGATION STYLES
   =================================== */

/* ===== BASE STYLES ===== */

html {
  min-width: 56.25em;
  max-width: 75em;
}

body {
  font-family: "vista-sans", sans-serif;
  background: #0a0e1a;
  margin: 0em;
  padding: 1.25em;
  /* overflow: hidden; */
  z-index: -1000;
  box-sizing: border-box;
}

/* ===== MAIN TITLE SECTION ===== */
.Title {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1000;
  width: 100%;
  text-align: center;
}

.Title h1 {
  color: #ff8800;
  font-size: 5.754em;
  margin: 0em;
  text-align: center;
  letter-spacing: 8px;
  position: relative;
  z-index: -10;
}

.Title h2 {
  color: #ffffff;
  font-size: 3.375em;
  margin: 0em;
  text-align: center;
  font-weight: normal;
  letter-spacing: 4px;
  position: relative;
  z-index: -10;
}

/* ===== CORNER STYLES ===== */
/* Corner Brackets */
.corner-top-left {
  position: fixed;
  top: 1.25em;
  left: 1.25em;
  width: 9.375em;
  height: 9.375em;
  border-top: 3px solid #00d9ff;
  border-left: 3px solid #00d9ff;
  z-index: 1000;
}

.corner-top-right {
  position: fixed;
  top: 1.25em;
  right: 1.25em;
  width: 9.375em;
  height: 9.375em;
  border-top: 3px solid #00d9ff;
  border-right: 3px solid #00d9ff;
  z-index: -1000;
}

.corner-bottom-left {
  position: fixed;
  bottom: 1.25em;
  left: 1.25em;
  width: 9.375em;
  height: 9.375em;
  border-bottom: 3px solid #00d9ff;
  border-left: 3px solid #00d9ff;
  z-index: -1000;
}

.corner-bottom-right {
  position: fixed;
  bottom: 1.25em;
  right: 1.25em;
  width: 9.375em;
  height: 9.375em;
  border-bottom: 3px solid #00d9ff;
  border-right: 3px solid #00d9ff;
  z-index: -1000;
}

a {
  text-decoration: none;
}

/* ===== DESKTOP NAVIGATION ICONS ===== */
.desktop-icons {
  display: flex;
  flex-direction: column;
  gap: 0.625em;
  align-items: flex-start;
  position: relative;
  margin-top: 2.5em;
  margin-left: 1.875em;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.625em;
  text-align: center;
  width: fit-content;
}

.icon {
  width: 5em;
  height: 5em;
  background: #14141f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
  border: 2px solid;
  border-radius: 0.5em;
}

.icon p {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0;
}

.icon-description {
  font-size: 0.875em;
  color: #00ffff;
  margin: 0;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  max-width: 5em;
  line-height: 1.2;
}

/* ===== ICON STYLES ===== */
/* About Icon */
.about-icon {
  background: #14141f;
  border-color: #ff3355;
}

.about-icon p {
  color: #ff3355;
}

/* Showcase Icon */
.showcase-icon {
  background: #14141f;
  border-color: #ffbe0b;
}

.showcase-icon p {
  color: #ffbe0b;
}

/* Experiments Icon */
.experiments-icon {
  background: #14141f;
  border-color: #8338ec;
}

.experiments-icon p {
  color: #8338ec;
}
